body {
    margin:auto;
    margin-top: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #000;
}

header, section {
    width: 95%;
    margin:auto;
}

@media screen and (min-width: 1340px) {
    header, section {
        width: 85%
    }
}

.logo-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo img {
    width: 80px;
    height: 40px;
    padding-top: 45px;
}
 
header nav {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
 }

nav a {
    text-align: center;
    color: #000;
    text-decoration: none;
    padding-top: 40px;
}

@media screen and (min-width: 1240px) {
    header nav {
        width: 30%;
    }
    nav a {
        width: 110px;
    }
}

@media screen and (min-width: 1024px) {
    header nav {
        width: 40%;
    }
    nav a {
        width: 110px;
    }
}

@media screen and (min-width: 768px) {
    header nav {
        width: 40%;
    }
    nav a {
        width: 90px;
    }
}

@media screen and (max-width: 767px) {
    header nav {
        width: 60%;
    }
    nav a {
        width: 70px;
    }
}




nav a:focus {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.register {
    color: #0065FC;
    font-weight: bold;
}

.main-title h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 30px;;
}

.search-city {
    display: flex;
    border-radius: 15px;
    width: max-content;
    height: 40px;
    margin: 30px 0 0 0;
    padding: 0;
}

.search-city div {
    padding: 0 15px;
    font-size: 1.2rem;
    background-color: #f2f2f2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.map-marker {
    padding-top: 10px;
    font-size: 1.2rem;
}

.search-input {
    width: min-content;
    margin: 0;
    padding: 0 0 0 10px;
    border: 2px solid #f2f2f2;
    border-left: none;
    border-right: none;
    font-size: 1.2em;
    font-weight: bold;
}

.large-search-btn, .tiny-search-btn {
    flex: 2 1 auto;
    height: 40px;
    padding: 10px;
    font-size: 1.2em;
    color: #fff;
    background-color: #0065FC;
    border: 2px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

@media screen and (min-width: 451px) {
    .tiny-search-btn {
        visibility: hidden;
    }
    .large-search-btn {
        width: max-content;
    }
}

@media screen and (max-width: 450px) {
    .large-search-btn {
        visibility: hidden;
    }
    .tiny-search-btn {
        width: 40px;
    }

}

.filter {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.filter h1 {
    font-size: 1.2em;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.filter-list li {
    height: 40px;;
    margin: 10px;
    padding: 0 15px 0 0;
    list-style: none;
    border: 2px solid #f2f2f2;
    border-radius: 30px;
    border-left: none;

}

.filter-link {
    margin: 0;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.filter-icon {
    color: #0065FC;
    font-size: 17px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #DEEBFF;
    border-radius: 30px;
    background-color: #DEEBFF;
}

.nbr-info {
    display: flex;
    align-items: center;
}

.nbr-info i {
    padding: 10px;
    color: #0065fc;
    font-size: 15px;
}

.accomodation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    margin-top: 30px;
}

.main-accomodation {
    flex: 3 1 0;
    background-color: #f2f2f2;
    /* margin: 0 15px 20px 0; */
    padding: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
}

.first-block-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-block-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accomodation-card {
    width: 200px;
    margin: 10px;
}

.accomodation-card, .large-accomodation-card {
    padding: 2px 2px 2px 2px;
    border: 2px solid #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #dadada;
    background-color: #fff;
}

.accomodation-card img {
    background-size: cover;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accomodation-card h3 {
    margin: 0;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
}

.accomodation-card p {
    margin: 0;
    padding: 0 5px 5px 15px;
    font-size: 10px;
}

.main-accomodation-stars {
    padding: 0 5px 5px 15px;
    font-size: 10px;
}

.blue {
    color: #0065fc;
}

.grey {
    color: #f2f2f2;
}

.more {
    margin-top: 20px;
}

.more a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

.more a:focus {
    color: #0065fc;
}

.most-popular {
    flex: 1 1 0;
    background-color: #f2f2f2;
    /* margin : 0 15px 20px 0; */
    padding: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
}

.most-popular-title {
    display: flex;
    justify-content: space-between;
}

.most-popular-title i {
    font-size: 17px;
    padding-top: 15px;
}

.large-accomodation-card {
    display: flex;
    width: 250px;
    height: 110px;
    margin: 10px;
    padding: 2px 2px 2px 2px;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: #fff;
}

.large-accomodation-card img {
    background-size: cover;
    width: 100px;
    height: 110px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.large-accomodation-card h3 {
    margin: 0;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
}

.large-accomodation-card p {
    margin: 0;
    padding: 2px 5px 5px 15px;
    font-size: 10px;
}

.large-accomodation-stars {
    padding: 40px 5px 5px 15px;
    font-size: 10px;
}

.activity-section h2 {
    margin-top: 30px;
}

.activity {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .activity-card {
    margin: 15px 15px 30px 15px;
} */

.activity-card {
    border-radius: 15px;
    box-shadow: 3px 3px 5px #dadada;
    background-color: #fff;
    width: 250px;
    margin-bottom: 30px;
}

.length {
    height: 350px;
}

.normal {
    height: 185px;
}

.large {
    height: 135px;
}

/* .no-margin-left {
    margin-left: 0;
}

.no-margin-right {
    margin-right: 0;
} */

.activity-card img {
    background-size: cover;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.length img {
    height: 310px;
}

.normal img {
    height: 140px;
}

.large img {
    height: 90px;
}

.activity div h3 {
    padding-left: 15px;
    font-size: 12px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
    background-color: #f2f2f2;
}

footer div {
    flex: 2 1 auto;
    padding-left: 30px
}

footer div ul {
    padding: 0;
}

footer div ul li {
    list-style: none;
    margin-bottom: 10px;
}

