body {
    width: 90%;
    margin:auto;
    margin-top: 0%;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #000;
}


.logo-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo img {
    width: 80px;
    height: 40px;
    padding-top: 45px;
}

/**
.logo:nth-child(1) {
    flex: 1;
}

ul:nth-child(2) {
    flex: 2;
}
**/

/**

@media screen and (max-width: 1280px) {
    nav {
        width: 60%;
    }
}

@media screen and (max-width: 1280px) {
    nav {
        width: 70%;
    }
}
**/
 
header nav {
    /* width: 40%; */
    /* margin-left: auto; */
    /* display: flex;
    flex-wrap: wrap; */
    /* margin: 0; */
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* flex-direction: row; */
    /* justify-content: flex-end; */
    width: 40%;
    /* position: relative; */
    margin-top: 0;
    /* flex-direction: row; */
 }

 /* header nav ul {
    display: flex;
    /* flex-wrap: wrap-reverse; */
    /* justify-content: space-around;
    width: 100%;
    margin: 0; */
    /* padding-top: 55px; */
    /* align-items: flex-end; */
    /* margin-left: 0; */
 /* }

nav ul li { */
    /* /* display: flex; */
    /* margin: auto; */
    /* width: 100%;; */
    /* list-style: none;
} */

nav a {
    /* display:flex;
    justify-content: space-around; */
    text-align: center;
    color: #000;
    /* width: 100%; */
    text-decoration: none;
    padding-top: 40px;
    /* margin-top: 0; */
    /* padding-top: 67px; */
}

nav a:focus {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

.register {
    color: #0065FC;
    font-weight: bold;
}

.main-title h1 {
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 30px;;
}

.search-city {
    border: 2px solid #f2f2f2;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    padding: 10 10 10 10;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0%;
}

.search-icon {
    width: 160px;
    height: 40px;
    background-color: #f2f2f2;
    font-size: 1.2rem;
    text-align: center;
    vertical-align: middle;    
}

.search-input {
    font-size: 1.2em;
    font-weight: bold;
    width: 200px;
    height: 40px;
    margin: 0;
    padding: 0 0 0 10px;
    border:none;
}

.search-btn {
    background-color: #0065FC;
    color: #fff;
    font-size: 1.2em;
    width: 100%;
    height: 40px;
    padding: 0;
    border: 2px solid #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.filter {
    display: flex;
    align-items: center;
}

.filter h1 {
    font-size: 1.2em;
}

.filter-list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.filter-list li {
    height: 40px;;
    margin: 10px;
    padding: 0 15px 0 0;
    list-style: none;
    border: 2px solid #f2f2f2;
    border-radius: 30px;

}

.filter-link {
    margin: 0;
    font-size: 1.2em;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.filter-icon {
    color: #0065FC;
    font-size: 17px;
    margin-right: 10px;
    padding: 10px;
    border: 2px solid #DEEBFF;
    border-radius: 30px;
    background-color: #DEEBFF;
}

.nbr-info {
    display: flex;
    align-items: center;
}

.nbr-info i {
    padding: 10px;
    color: #0065fc;
    font-size: 15px;
}

.accomodation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.main-accomodation {
    flex: 2 1 0;
    background-color: #f2f2f2;
    margin-right: 10px;
    padding: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
}

.first-block-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-block-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.accomodation-card {
    width: 200px;
    margin: 10px;
    padding: 2px 2px 2px 2px;
    border: 2px solid #fff;
    border-radius: 15px;
    background-color: #fff;
}

.accomodation-card img {
    background-size: cover;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.accomodation-card h3 {
    margin: 0;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
}

.accomodation-card p {
    margin: 0;
    padding: 0 5px 5px 15px;
    font-size: 10px;
}

.stars {
    padding: 0 5px 5px 15px;
    font-size: 10px;
}

.most-popular {
    flex: 1 1 0;
    margin-left: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 15px;
}

.large-accomodation-card img {
    width: 100%;
}

